section.content .heading {
    background-color: antiquewhite;
}

.content p{
    color: blue;
}

.content .btn{
    background-color: coral;
}


section.content p.text{
    color: yellow;
}

section .btn.btn2 {
    color: blueviolet;
}








